@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/****************** dashboard *********************/
.dashboard {
  background-color: #a78bfa;
  color: #ffffff;
  padding: 7% 20px 0 20px;
  letter-spacing: 1px;
  grid-column: 1;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-rows: 50px 250px 1fr;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.dashboard-heading {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
}
.dashboard-heading span {
  font-size: 40px;
  cursor: default;
}
.dashboard-heading h3 {
  font-size: 1.5rem;
  cursor: default;
}
.dashboard ul span {
cursor: pointer;
}
.dashboard ul {
  display: grid;
  font-weight: bold;
  gap: 16px;
}
.dashboard ul li {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: end;
  transition: all 0.18s ease-in-out;
}
.dashboard ul li:hover {
  scale: 1.12;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

/****************** header *********************/
.header {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ffffff;
}
.header-1st-row {
  grid-row: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding-bottom: 40px;
  padding: 1% 5% 0 5%;
}
.header-1st-row .input-container {
  width: 80%;
  display: grid;
  grid-template-columns: 40px 1fr;
}
.input-container span {
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-out;

}
.input-container input {
  border: none;
  border-radius: 10px;
  height: 25px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #6155a030;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-family: inherit;
  transition: all 0.2s ease-out;
}
.input-container span:hover {
  scale: 1.1;
}
.input-container input:focus {
  margin: 0 10px;
  scale: 1.07;
}
.header-1st-row div:nth-child(2) {
  display: grid;
  grid-template-columns: 50px 70px 120px;
  justify-content: end;
  justify-items: end;
  align-items: center;
}
.header-1st-row div:nth-child(2) span {
  grid-column: 1;
  font-size: 26px;
  font-weight: bold;
}
.header-1st-row div:nth-child(2) img {
  grid-column: 2;
}
.header-1st-row div:nth-child(2) p {
  grid-column: 3;
  font-weight: bold;
  text-shadow: 0px 0px 0px #a78bfa;
}

.header-2nd-row {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
  padding: 0 5% 30px 5%;
}
.header-2nd-row div:nth-child(1) {
  justify-self: start;
  display: grid;
  grid-template-columns: 60px 1fr;
}
p.greeting {
  font-weight: bold;
  font-size: 0.8rem;
}
p.profile-name {
  font-weight: bold;
  font-size: 1.3rem;
  min-width: 140px;
  /* width: max(140px, 100%); */
}
.header-2nd-row ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.header-2nd-row button {
  width: 6rem;
  background: #a78bfa;
  border-radius: 999px;
  box-shadow: #a78bfa 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-word;
  border: 0;
  transition: all 0.15s ease-out;
}
.header-2nd-row button:hover {
  scale: 1.05;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
/****************** main-content *********************/
.main-content {
  background-color: #6155a030;
  padding: 3% 2%;
  grid-row: 2;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 30px;
}
.main-content h3 {
  padding-bottom: 5px;
  color: #333;
}
.main-content p {
  color: #636363;
}
/****************? main-content-1st-column  ***************/
.main-content-1st-column {
  display: grid;
  grid-template-rows: 35px 1fr;
  height: max-content;
}
.main-content-1st-column h4:hover{
text-decoration: underline;
cursor: pointer;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, max-content);
  gap: 30px;
}
.project-card {
  background-color: #ffffff;
  border-left: 8px solid #333;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  height: max-content;
  display: grid;
  grid-template-rows: minmax(100px, 1fr) 80px;
}
.project-card span {
  font-weight: bold;
  color: #333;
}
.project-card div:last-child {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  align-content: end;
}

/*****************? main-content-2nd-column ******************/
.main-content-2nd-column {
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 40px;
  justify-self: end;
  height: 900px;
}
.main-content-2nd-column h4 {
  color: #333;
}
.main-content-2nd-column a:hover {
  text-decoration: underline;
}
.announcements,
.trending {
  max-width: 300px;
  display: grid;
  grid-template-rows: 35px 1fr;
}
.announcements-content,
.trending-content {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  display: grid;
  min-width: 260px;
}
.announcements-content {
  grid-template-rows: repeat(3, 1fr);
}
.announcements-content .row {
  height: min-content;
  padding-bottom: 15px;
  border-bottom: 1px solid #9894947c;
}
.announcements-content .row:last-child {
  border-bottom: none;
}
.trending-content {
  grid-template-rows: repeat(4, 80px);
  height: min-content;
}
.trending-content .row {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
}

.trending-content .row p:first-child {
  color: #333;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .main-content {
    grid-template-columns: 1fr;
    padding: 3% 0;
  }
  .main-content-1st-column {
    width: 80%;
    margin: 0 auto;
  }
  .main-content-2nd-column {
    justify-self: start;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 3% 5%;
  }
  .header-2nd-row button {
    width:max-content;
  }
}
@media only screen and (max-width: 768px) {
.header-2nd-row {
  padding-left: 0;
  padding-right: 0;
}
  .main-content-2nd-column {
    width: max-content;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .header-1st-row {
    grid-template-columns: 100px 180px;
    justify-content: end;
  }
  .header-1st-row input {
    display: none;
  }
  .header-1st-row span {
    justify-self: end;
  }
}
@media only screen and (max-width: 648px) {
  .main-container {
    grid-template-columns: 1fr 9fr;
  }
  .dashboard {
    width: max-content;
  }
  .dashboard li a, .dashboard h3 {
    display: none;
  }
}